[submodule "ugfx"]
	path = ugfx
	url = https://github.com/badgeteam/ugfx.git
	branch = master
[submodule "micropython-lib"]
	path = micropython-lib
	url = https://github.com/badgeteam/micropython-lib.git
	branch = master
[submodule "examples"]
	path = examples
	url = https://github.com/badgeteam/SHA2017-examples.git
	branch = master
[submodule "auto-flasher"]
	path = auto-flasher
	url = https://github.com/badgeteam/ESP32-auto-flasher.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v3.1
[submodule "esp-adf"]
	path = esp-adf
	url = https://github.com/badgeteam/esp-adf.git
	branch = master
[submodule "xtensa-esp32-elf"]
	path = xtensa-esp32-elf
	url = https://github.com/badgeteam/xtensa-esp32-elf.git
	branch = master
